<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Navertica.Services.NVRLocalFSService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="NVRLocalFSService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" realm="NVRLocalFSService" />
          </security>
        </binding>
      </webHttpBinding>
      <webHttpRelayBinding>
		  <binding name="webHttpRelayBinding" >
			  <security relayClientAuthenticationType="None" />
		  </binding>
      </webHttpRelayBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="sbTokenProvider">
          <transportClientEndpointBehavior>
            <tokenProvider>
              <sharedAccessSignature keyName="RootManageSharedAccessKey" key="{enter your key}" />
            </tokenProvider>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType="Navertica.Services.NVRLocalFSService.AuthorizationManager, NVRLocalFSService" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="Navertica.Services.NVRLocalFSService.CustomUserNameValidator, NVRLocalFSService" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Navertica.Services.NVRLocalFSService.LocalFSService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBinding"
          contract="Navertica.Services.NVRLocalFSService.ILocalFSServiceContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint behaviorConfiguration="sbTokenProvider" binding="webHttpRelayBinding"
          bindingConfiguration="webHttpRelayBinding" contract="Navertica.Services.NVRLocalFSService.ILocalFSServiceContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8787/" />
          </baseAddresses>
        </host>
      </service>
    </services>
	  <extensions>
		  <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
		  <behaviorExtensions>
			  <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			  <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			  <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		  </behaviorExtensions>
		  <bindingElementExtensions>
			  <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			  <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			  <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		  </bindingElementExtensions>
		  <bindingExtensions>
			  <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			  <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			  <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			  <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			  <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			  <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		  </bindingExtensions>
	  </extensions>
  </system.serviceModel>
  <applicationSettings>
    <Navertica.Services.NVRLocalFSService.Properties.Settings>
      <setting name="RootPath" serializeAs="String">
        <value>{some folder to limit access too}</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>{yourusername}</value>
      </setting>
      <setting name="Pwd" serializeAs="String">
        <value>{yourpassword}</value>
      </setting>
      <setting name="RelayNameSpace" serializeAs="String">
        <value>{your relay namespace name}</value>
      </setting>
      <setting name="RelayServicePrefix" serializeAs="String">
        <value>{prefix to be used in the relay URL}</value>
      </setting>
    </Navertica.Services.NVRLocalFSService.Properties.Settings>
  </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>	
</configuration>